@charset "UTF-8";
body {
    width:80%;
    background-color:white;
}

.container {
    width:100%;
    height:100%;
    display:flex;
}

.body {
    width: 70%;
    padding: 20px;
}
h1 {
    text-align: center;
}

p {
    margin: 10px 0;
}

ol, ul {
    margin: 10px 0;
    padding-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.side {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ccc;
    text-align: center;
}