@charset "UTF-8";

.container {
    width:100%;
    height:200px;
    display:flex;
}

.body {
    width:80%;
    background-color:aliceblue;
}

.side {
    width:20%;
    background-color:rgb(77, 125, 167);
}