body {
    font-family: Arial, sans-serif;
    
}

.naiyou {
    display: flex;
}

.basic-info {
    width: 20%;
    padding: 0px;
    border-right: 1px solid #ccc;
    background-color: mistyrose;
    border: solid;
}

.overview {
    width: 70%;
    padding: 20px;
}

h1 {color: crimson;
    text-align: center;
    margin: 10px 450px 10px 450px;
    padding: 10px 20px 10px 20px;
    border: solid 5px #ff7777;
    
}

p {
    margin: 10px 0;
}

ol, ul {
    margin: 10px 0;
    padding-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span.important{color: hotpink;
    border-bottom: crimson;


}