body {
    font-family: Arial, sans-serif;
}

.naiyou {
    display: flex;
}

.side {
    width: 20%;
    background-color: white;
    padding: 20px;
    border-right: 1px solid #ccc;
}

.content {
    width: 80%;
    padding: 20px;
}

.basic-info {
    margin-bottom: 20px;
}

.overview {
    margin-bottom: 20px;
}

.members {
    margin-bottom: 20px;
}

.songs {
    margin-bottom: 20px;
}

h1 {
    color: rgb(236, 145, 236);
    text-align: center;
}

p, ul, ol {
    margin: 10px 0;
}

ol, ul {
    padding-left: 20px;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

hr {
    border: 0;
    height: 1px;
    background: #ccc;
    margin: 20px 0;
}

.title {
    color: rgb(236, 145, 236);
    font-size: 25px;
}

.url {
    color: rgb(236, 145, 236);
}
